.big-screen {
  margin: 20px 0;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

.big-screen__column:first-child {
  width: 20%;
}
.big-screen__column:nth-child(2) {
  width: 60%;
  font-size: 50px;
}
.big-screen__column:last-child {
  display: flex;
  position: relative;
  bottom: 8px;
  width: 20%;
}

.home-main {
  background-color: rgb(225, 221, 221);
}

.goal-bar {
  background-color: white;
  display: flex;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
}
.goal-bar h3 {
  font-size: 13px;
  margin: 10px 0;
}

.goal-bar__column div {
  font-weight: 600;
}

.goal-bar__column:first-child {
  width: 40%;
}

.goal-bar__column:nth-child(2) {
  width: 20%;
  position: relative;
}

.goal-bar__column:nth-child(2) i {
  color: lightgray;
}

.goal-bar__column:last-child {
  width: 40%;
}

.goal-bar .boundary {
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: lightgrey;
}

.goal-bar .boundary:nth-child(3) {
  left: 0;
  bottom: 0;
}

.goal-bar .boundary:last-child {
  right: 0;
  bottom: 0;
}

.aim-box {
  background-color: white;
  height: 170px;
  border-bottom-left-radius: var(--box-border);
  border-bottom-right-radius: var(--box-border);
}

.aim-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.aim-bar__column:first-child span {
  margin-left: 5px;
}

.aim-box__box {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  background-color: #d71a67;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.aim-box__column:nth-child(2) {
  width: 80%;
  box-sizing: border-box;
  padding: 0 20px;
}
.aim-box__column:nth-child(2) div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.aim-box__column:nth-child(2) div:first-child {
  margin-bottom: 10px;
}

.aim-box__column:nth-child(2) div:last-child {
  font-size: 12px;
}

.ad-box {
  margin-top: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: var(--box-border);
  height: 80px;
  align-items: center;
}

.ad-box__column img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.ad-box__column:last-child {
  width: 75%;
  padding-left: 10px;
  box-sizing: border-box;
}

.ad-box__column:last-child h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.ad-box__column:last-child span {
  opacity: 0.5;
  font-size: 12px;
}

.group-box {
  margin-top: 10px;
  /* height: 250px; */
  background-color: #fff;
  border-radius: var(--box-border);
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.empty-box-img {
  width: 30%;
  opacity: 0.6;
  margin-bottom: 20px;
}

.box-content span {
  font-size: 12px;
}

.group-box__content {
  padding-bottom: 15px;
}

.group-box__line {
  border-top: 1px dashed rgba(0, 0, 0, 0.5);
  height: 30px;
  margin: 0 20px;
}

.group-box__line:first-child {
  margin-top: 15px;
}
.group-box__line:nth-child(4) {
  height: 20px;
}
.group-box__line--bot {
  border-top: 1px black solid;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.group-box__report {
  margin-left: 20px;
  display: flex;
}

.group-box__box {
  width: 130px;
  background-color: lightgray;
  height: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-right: 5px;
}

.group-box__box i {
  color: #fff;
  margin-left: 3px;
  margin-right: 3px;
}

.group-box__box-container span {
  font-size: 13px;
  color: lightgray;
}
.group-box__box-element:first-child {
  margin-top: 15px;
}

.group-box__box-element {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.group-box__circle-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-box__circle {
  width: 110px;
  height: 110px;
  background-color: lightgray;
  border-radius: 50%;
}

.group-box__section-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 5px;
  position: relative;
  padding-bottom: 35px;
}

.group-box__section {
}

.section-title {
  font-size: 12px;
  margin-bottom: 5px;
}

.section-data {
  font-size: 18px;
}

.group-box__section .boundary {
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: lightgrey;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
